section.nouveautes{
	display:block;
	height:auto;
	width:100%;
	margin-top:50px;
	position: relative;
}

.nouveautes .titreNouveautes{
	display:block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	background-image:url(../images/titre_nouveaute.png);
	height:40px;
	width:1000px;
}

.nouveautes h2{
	padding-bottom: 0px;
}