section.nouveautes{
	display:block;
	height:auto;
	width:322px;
	margin-top:0px;
	margin-left: Opx;
	margin-right: 12px;
	position: relative;
	border : solid 1px #e2dddb;
	float:left;
}

.nouveautes .titreNouveautes{
	display:block;
	margin-left: -1px;
	margin-right: auto;
	position: relative;
	background-image: url(../images/titre_bloc_nouveaute_normal.png);
	height:77px;
	width:324px;
	cursor:default;
}

.nouveautes .titreNouveautes:hover{
	background-image: url(../images/titre_bloc_nouveaute_hover.png);
}