#search_block_left{
	display:block;
	width:300px;
	float:right;
	margin-right: 0px;
	position: relative;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:11px;
	color:#9e9d9d;
	margin-top:30px;
}

#search_block_filet{
	display: block;
    float: left;
    height: 70px;
    margin-left: 30px;
    width: 300px;
    padding-left: 25px;
    border-left: solid 1px #e7e7e7;
}

#search_block_top{
	display:block;
	width:533px;
	float:left;
	margin-left: 15px;
	position: relative;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:15px;
	color:#9e9d9d;
	margin-top:55px;
}

#searchbox input[type=text]{
	float:left;
	border:0;
	width:400px;
	height:60px;
	background:url(images/champ_rechercher_normal.png) top left no-repeat;
	color:#9e9d9d;
	padding:10px 0 0 70px;
}

#searchbox input[type=text]:focus{
	background:url(images/champ_rechercher_normal.png) top left no-repeat;
}

#searchbox input[type=submit]{
	float:left;
	border:0;
	width:130px;
	height:60px;
	background:url(images/champ_rechercher_normal.png) top right no-repeat;
	cursor:pointer;
}

#searchbox input[type=submit]:hover{
	background:url(images/champ_rechercher_hover.png) top right no-repeat;
}