<?php
define('_DB_SERVER_', 'mywittygames.cbcdvav5ui8j.eu-west-1.rds.amazonaws.com');
define('_DB_NAME_', 'lba_dev');
define('_DB_USER_', 'mywittygames');
define('_DB_PASSWD_', 'mysql1105*');
define('_DB_PREFIX_', 'ps_');
define('_MYSQL_ENGINE_', 'InnoDB');
define('_PS_CACHING_SYSTEM_', 'CacheMemcache');
define('_PS_CACHE_ENABLED_', '0');
define('_MEDIA_SERVER_1_', '');
define('_MEDIA_SERVER_2_', '');
define('_MEDIA_SERVER_3_', '');
define('_COOKIE_KEY_', '98NoIABQL60CgggQFfntAPHYRjM9Sj9ceMbznmW6mJfZSV0VGZGFfh60');
define('_COOKIE_IV_', '9ap9EZOZ');
define('_PS_CREATION_DATE_', '2012-12-04');
define('_PS_VERSION_', '1.5.3.1');
define('_RIJNDAEL_KEY_', 'xwMBZOf1iMXukcaMqYbUqfcgUiMHsucO');
define('_RIJNDAEL_IV_', 'RcP9T34JuAX1ERXx0aT6ng==');
