/* block top user information */

#header_right #header_user {
	clear:both;
	float: right;
	margin-top:8px;
	width: 535px;
}

#header_user #header_nav {
	background: url("images/panier.png") repeat scroll 0 0 transparent;
    float: right;
    height: 115px;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 85px;
    width: 285px;
}

/* cart */
#shopping_cart {
	font-family: "Arial",Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 40px;
    width: 190px;
}

#shopping_cart a{
	color: white;
	height: 15px;
	padding:17px 7px 10px 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;display:block;
	text-decoration:none;}
#shopping_cart a:hover span{text-decoration: underline;}
#header_user #shopping_cart .ajax_cart_quantity { font-weight:bold; font-size:18px }
#header_user #shopping_cart .ajax_cart_total { display:none !important; }


/* account */
#header_user #your_account {display:none;}
#header_user #your_account a { background-image: url('images/my-account.gif') }

/* user infos */ 
#header_user_info {
    border-right: 1px solid #E7E7E7;
    display: block;
    font-family: "Arial",Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    margin-left: 10px;
    margin-top: 3px;
    padding: 30px 10px 0;
    text-align: center;
    width: auto;
}

#header_user_info :hover{
	text-decoration:underline;
}

#header_user_info a {
	line-height: 11px;
}
#header_user_info a.account {
	border: none;
	background: url('images/login.gif') no-repeat 0px 0;
	padding-left: 30px;
}
*:first-child+html #header_user_info a {line-height:14px;}
