/* block top user information */

#header_right #header_user {
	clear:both;
	margin-top:8px;
}

#header_user #header_nav {
	list-style-type:none;
	float: left;
	margin-left: 15px;
}

/* cart */
#shopping_cart {
	margin-top:55px;
	margin-left:0px;
	font-family:"Arial", Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	width:266px;
	position: absolute;
	display: block;
	height: 60px;
	background-color: #202227;
	float: left;
}

#shopping_cart:hover {
	background-color: #32353B;
}

#shopping_cart a{
	height: 15px;
	padding:25px 20px 10px 60px;
	background: url('images/cart.png') no-repeat 10px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;display:block;
	text-decoration:none;
	color: #fff;
}

#shopping_cart a:hover span{text-decoration: none; color:#fff;}
#header_user #shopping_cart .ajax_cart_quantity { font-weight:bold; font-size:18px; margin-left: 20px; }
#header_user #shopping_cart .ajax_cart_total { display:none !important; }


/* account */
#header_user #your_account {display:none;}
#header_user #your_account a { background-image: url('images/my-account.gif') }

/* user infos */ 

#header_user {
	position: relative;
	float: right;
	width: 280px;
}

#header_user_info {
	float:right;
	margin-left:10px;
	font-size:12px;
	display:block;
	height:20px;
	width:auto;
	padding:20px 10px 0px 40px;
	font-family:"Arial", Helvetica, sans-serif;
	font-weight:bold;
	background-color: #32353b;
}

#header_user_info:hover {
	background-color: #D83608;
}

#header_user_info :hover{
	text-decoration:underline;
}

#header_user_info a {
	line-height: 11px;
}
#header_user_info a.account {
	border: none;
	background: url('images/login.png') no-repeat 21px;
}
*:first-child+html #header_user_info a {line-height:14px;}
