section.meilleuresVentes{
	display:block;
	height:auto;
	width:100%;
	margin-top:50px;
	position: relative;
}

.meilleuresVentes .titreMeilleuresVentes{
	display:block;
	position: relative;
	float: left;
	color: 202227;
	font-size: 22px;
	margin-bottom: 50px;
}

.meilleuresVentes h2{
	padding-bottom: 0px;
}